.jumbo {

    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto; 
    
}

.verfilmes {
    text-align: left;

}

.addfilmes {
    text-align: left;

}

.filmesadicionado {
    text-align: left;

}
.quantidadedefilmes {
    text-align: center;

}